################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Bot_RecommendationPlaces/obj/Debug
/Bot_RecommendationPlaces/bin
